.input-field{
    width: 100%;
    /* height: auto; */
    background-color: transparent;
    /*padding: 1px 2px;*/
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid blue;
    font-size: 15px;
    font-family: inherit;
    /* -webkit-appearance: none; */
    /* -moz-appearance: none; */
}

.selectform{
    width: 70%;
    height: 20px;
    background-color: transparent;
    padding: 1px 2px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid blue;
    font-size: 12px;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}
@media screen and (max-width: 600px) {
    .selectform, input[type=submit], input[type=text] {
        width: 100%;
        margin-top: 0;
    }    	
}